* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #fffaf0;
    color: #333;
}

/* Cabeçalho */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #c4520c;
    padding: 30px 20%;
    color: white;                   
}

.logo {
    font-size: 28px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #ffeb3b;
}

/* Hero Section */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 10%;
    background-image: url(../img/imagem.gif);
    height: 550px;
    color: white;
}

.hero-content {
    max-width: 50%;
}

.hero-content h1 {
    font-size: 48px;
    margin-bottom: 10px;
    color: #c4520c; 
}

.hero-content span {
    color: #c4520c;
}

.hero-content p {
    font-size: 18px;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 12px 24px;
    background-color: #ffeb3b;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: 0.3s;
}

.btn:hover {
    background-color: #fff;
}

.hero-image img {
    max-width: 350px;
}

/* Categorias */
.categories, .best-seller {
    padding: 50px 10%;
    text-align: center;
}

.categories h2, .best-seller h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.category-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.category {
    background-color: #ff8c42;
    padding: 15px 20px;
    border-radius: 8px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}

.category:hover {
    background-color: #ff6f61;
    transform: scale(1.05);
}

/* Produtos */
.products {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.product {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    text-align: center;
}


.foto-perfil{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #fffaf0;
}

.product:hover {
    transform: translateY(-5px);
}

.product img {
    width: 120px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.product p {
    font-size: 18px;
    font-weight: bold;
}

.product span {
    display: block;
    font-size: 16px;
    color: #ff8c42;
    margin: 5px 0;
}

.product .btn {
    margin-top: 10px;
}

/* Rodapé */
footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    margin-top: 40px;
}

header {
    color: white;
    padding: 30px;
}
